{% extends "base.html" %}

{% block content %}
<section id="experience">
    <h2>Experience</h2>
    <div class="experience-container">
        <div class="experience-box">
            <h3>Certificates</h3>
            <p>Completed Java specializations at Duke and UCSD Universities. Certifications in web and software development.</p>
        </div>
        <div class="experience-box">
            <h3>Work Experience</h3>
            <p>Worked on remote and on-site projects for clients, including web applications, software development, and UI/UX projects.</p>
        </div>
    </div>
</section>
{% endblock %}
