{% extends "base.html" %}

{% block content %}
<section id="skills">
    <h2>Skills</h2>
    <div class="skills-container">
        <div class="skill-box">
            <h3>Back-End Development</h3>
            <p>Languages: Java, Kotlin, Python</p>
            <p>Tools: Eclipse, Git, MySQL, JSON/XML, Maven</p>
        </div>
        <div class="skill-box">
            <h3>Front-End Development</h3>
            <p>Technologies: JavaScript, HTML, CSS</p>
            <p>Tools: Bootstrap, React.js, GitHub</p>
        </div>
        <div class="skill-box">
            <h3>Designing</h3>
            <p>What I Do: UI/UX, Mobile Apps</p>
            <p>Tools: Figma, Sketch, Adobe Illustrator</p>
        </div>
    </div>
</section>
{% endblock %}

